.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-facebook {
	font-size:(112.2/10)*1rem;
	width:(112.2/112.2)*1em;
}
.icon-twitter {
	font-size:(49.652/10)*1rem;
	width:(49.652/49.652)*1em;
}
